svg.editor-area {
  box-sizing: border-box;
  border: 1px solid rgb(212, 212, 212);
}

svg.library {
  display: none;
}

circle {
  stroke-width: 1;
  fill: black;
}

circle.active {
  stroke: red;
}

g.pathPointGroupActive circle{
  fill: royalblue;
}

line {
  stroke: rgb(212, 212, 212);
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

path.wire {
	fill: none;
	stroke: #777;
}

path.active-wire {
	fill: none;
	stroke: black;
}

.active-wire {
  stroke: black;
  cursor: pointer;
  stroke-width: 5px;
}
.wire {
  stroke-width: 5px;
}

rect.selection {
  fill:rgba(0,0,255,0.05);
  stroke-width:2;
  stroke:rgb(0,0,0, 0.1);
}

rect.selected {
  stroke-width:2;
  fill:rgba(0,0,255,0.05);
  stroke:rgb(0,0,0, 0.3);
  shape-rendering:crispEdges;
  cursor: move;
}